.col-lg-12.col-md-12
  .welcome.text-center
    .jumbotron(style="background-color:#fff;")
      %h1 DartCCA
      .row(style="height:74px; padding:20px 0;")
        %div(ng-cloak ng-show="!a.logged_in()")
          .col
            &nbsp;
