.bar.bar-footer.bar-light
  %footer.title
    &copy; ENDOH takanao
    2014
    -#%span(ng-cloak)>-{{ c.year }}
    &nbsp;
    %span.text-muted(ng-cloak)
      ver.{{ c.version }}
    %feedback-component(p="c")
