%footer(style="margin-top:100px;")
  %div(style="text-align:center;")
    &copy; ENDOH takanao
    &nbsp; 2013
    %span(ng-cloak)>-{{ c.year }}
    %span.text-muted(ng-cloak)
      ver.{{ c.version }}
    %feedback-component(p="c")
