<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegaptips.googleoauth" version="1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>DartCCA</name>
    <description />
    <author />
    <preference name="KeyboardShrinksView" value="true" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <preference name="iosPersistentFileLocation" value="Library" />
    <preference name="AndroidPersistentFileLocation" value="Internal" />
    <content src="plugins/org.chromium.bootstrap/chromeapp.html" />
    <access origin="*://*/*" />
</widget>
