!!!
%html/
%meta(charset="UTF-8")
%meta(http-equiv="X-UA-Compatible" content="IE=edge")
%meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
%title An example of Cordova Chrome Apps written in AngularDart.
:css
  .ng-show {
    display: block !important;
  }
  [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide {
    display: none !important;
  }
  body {
    padding-top: 100px;
  }

%link(href="ionic-v1.0.0-beta.10/css/ionic.min.css" rel="stylesheet")
%script(src="ionic-v1.0.0-beta.10/js/ionic.bundle.min.js")
%script(src="js/app.js")
%script(src="js/browser_dart_csp_safe.js")
%script(src="packages/chrome/bootstrap.js" defer)
%script(src="main.dart" type="application/dart")
%body(app ng-app="starter" ng-controller="app")/

%ion-side-menus

  %ion-side-menu(side="left")
    %header.bar.bar-header.bar-stable
      %h1.title
        Settings
    %ion-content.has-header
      %ion-list
        %ion-item.item-icon-left(nav-clear menu-close)
          %i.icon.ion-person
          Account
        %ion-item.item-icon-left(nav-clear menu-close)
          %i.icon.ion-log-out
          Logout
        %ion-item.item-icon-left(ng-click="modal.show()")
          %i.icon.ion-paper-airplane
          Feedback
      %footer-component

  %ion-side-menu(side="right")
    %header.bar.bar-header.bar-stable
      %h1.title
        Category
    %ion-content.has-header
      %ion-list
        %label.item.item-radio(nav-clear menu-close)
          %input(type="radio" name="group")
            .item-content
              All
            %i.radio-icon.ion-ios7-checkmark
        %label.item.item-radio(nav-clear menu-close ng-repeat="i in [0,1]")
          %input(type="radio" name="group")
            .item-content
              Category
            %i.radio-icon.ion-ios7-checkmark

  %ion-tabs.tabs-icon-only.tabs-positive(ion-side-menu-content)

    %ion-tab(title="Chrome Apps" icon-on="icon ion-social-google" icon-off="icon ion-social-google-outline")
      %ion-header-bar.bar-positive
        .buttons.left-buttons
          %button.button.button-icon.icon.ion-navicon(menu-toggle="left")
        %h1.title Chrome Apps
        .buttons.right-buttons
          %button.button.button-icon.icon.ion-ios7-albums-outline(menu-toggle="right")
      %ion-content(has-header="true")
        %ion-refresher
        %div(style="background:url('/icons/icon-152.png') no-repeat center 115px; height:311px;")

    %ion-tab(title="iOS" icon-on="icon ion-social-apple" icon-off="icon ion-social-apple-outline")
      %ion-header-bar.bar-positive
        .buttons.left-buttons
          %button.button.button-icon.icon.ion-navicon(menu-toggle="left")
        %h1.title iOS
        .buttons.right-buttons
          %button.button.button-icon.icon.ion-ios7-albums-outline(menu-toggle="right")
      %ion-content(has-header="true")
        %ion-refresher

    %ion-tab(title="Android" icon-on="icon ion-social-android" icon-off="icon ion-social-android-outline")
      %ion-header-bar.bar-positive
        .buttons.left-buttons
          %button.button.button-icon.icon.ion-navicon(menu-toggle="left")
        %h1.title Android
        .buttons.right-buttons
          %button.button.button-icon.icon.ion-ios7-albums-outline(menu-toggle="right")
      %ion-content(has-tabs="true" on-refresh="onRefresh()")
        %ion-refresher

%script(id="modal.html" type="text/ng-template")
  .modal
    %ion-header-bar.bar.bar-header.bar-positive
      %h1.title Feedback
      %button.button.button-clear.button-primary(ng-click="modal.hide()") Cancel
    %ion-content
      .padding
        .list
          %label.item.item-input
            %textarea(rows="10" placeholder="messages...")
          %button.button.button-full.button-positive(ng-click="modal.hide()") send feedback
